<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

<!-- Cabecera de página-->
<header th:replace="layout/layout :: header"></header>

<!-- Cuerpo: Contenedor con padding vertical de 4 -->
<div class="container">
    <div class="card bg-danger text-white">
        <div class="card-header">Error: ¡Acceso denegado!</div>
        <div class="card-body">
            <!-- #httpServletRequest.remoteUser = #authentication.name : Devielven el nombre de usuario -->
            <h5 class="card-title"> Lo sentimos <span th:text="${#httpServletRequest.remoteUser}"></span>, NO tiene
                                    acceso a esta página</h5>
            <a th:href="@{/listar}" class="btn btn-outline-light" role="button">Ir al inicio</a>
        </div>
    </div>
</div>

<!-- Pie de página -->
<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>